input[type="checkbox"] {
    width: 17px;
    height: 17px;
    accent-color: black;
    margin-right: 5px;
}

.pageContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 250px 1fr;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.pageContentsWrapper {
    grid-column: 2;
    padding: 30px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
}

.pageContentsContainer {
    grid-column: 2;
    grid-row: 1;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageHeader {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.pageSubHeader {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
