.circlesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profilePhoto {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 5px 5px gray;
    margin: 0 5px;
}

.githubSVG {
    background-image: url("/static/github_icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
