.profileContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.profilePhoto {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
}

.jenny, .udit, .parth, .devu,.githubSVG {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jenny {
    background-image: url("./images/jenny.png");
}

.udit {
    background-image: url("./images/udit.jpeg");
}

.parth {
    background-image: url("./images/parth.jpeg");
}

.devu {
    background-image: url("./images/devu.jpeg");
}

.githubSVG {
    background-image: url("./images/github-mark.svg");
}

.profileLink {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homePageHeader {
    font-size: 50px;
}

.body {
    font-size: 20px;
    text-align: justify;
    line-height: 1.5em;
}

.body em {
    font-weight: 600;
    color: #DD432B;
}

.body a {
    text-decoration: underline;
}

.aboutUsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    width: 80%;
}

.aboutUsContainer > .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.aboutUsContainer > .subheading {
    font-size: 30px;
    text-align: center;
}

.divider hr {
    border-color: black;
    opacity: 0.2;
    border-width: 1px;
}