.unitSearchPage {
    min-width: 70%;
    max-width: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
}

.unitSearch {
    height: 60px;
    margin: 10px 0;
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
}

.unitSearch .unitSearchInput {
    padding-left: 50px;
    border-radius: 15px;
    border: 2px solid #DD432B;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
    font-size: 20px;
    caret-color: rgb(54, 54, 54);
    user-select: none;
}

.inputLabel {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.inputLabel p {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(5%, -50%);
    color: rgba(0, 0, 0, 0.35);
    z-index: 0;
}

.unitSearchInput:valid { background-color: transparent; }
.unitSearchInput:invalid{ background-color: transparent; }

.unitSearch .unitSearchInput:focus {
    outline: none;
    background-color: #ffe9e5;
    border: none;
}

.filterAccordian {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    user-select: none;
}

.filtersContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.clearFilter {
    background-color: transparent;
    border: none;
    color: #DD432B;
    font-size: 15px;
    text-align: right;
    user-select: none; 
}

.check {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.filterHeader {
    color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}

fieldset.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
}

span.icon {
    color: #DD432B;
    font-size: 35px;
    z-index: 2;
}

#search {
    margin-left: 10px;
}

#filter {
    margin-right: 10px;
    background-color: transparent;
    border-radius: 50%; 
    padding: 10px;
    cursor: pointer; 
    user-select: none;
    transition: background-color 0.3s ease; 
}

#filter:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}

#unitPageHeader {
    text-align: left;
}
